 <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                    <div class="card-body">
                                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <%= f.text_field :first_name, autofocus: true, autocomplete: "first name", class: "form-control", id: "inputFirstName", placeholder:"Enter your first name" %>
                                                        <label for="inputFirstName">First name</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        <%= f.text_field :last_name, autofocus: true, autocomplete: "last name", class: "form-control", id: "inputLastName", placeholder:"Enter your last name" %>
                                                        <label for="inputLastName">Last name</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id:"inputEmail", placeholder: "name@example.com" %>
                                                <label for="inputEmail">Email address</label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <%= f.password_field :password, autocomplete: "new-password", class:"form-control", id:"inputPassword", placeholder:"Create a password" %>
                                                        <label for="inputPassword">Password</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", id:"inputPasswordConfirm", placeholder:"Confirm password" %>
                                                        <label for="inputPasswordConfirm">Confirm Password</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid"><%= f.submit "Sign up", class: "btn btn-primary btn-block" %></div>
                                            </div>
                                        <% end %>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><%= link_to "Have and account? Go to login", new_session_path(resource_name) %><br />></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
<%= render "admins/shared/error_messages", resource: resource %>