 <div class="container-fluid px-4">
 <h1 class="mt-4">Administradores</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Listando Administradores</li>
  </ol>
<div class="card mb-4">
  <div class="card-header">
      <i class="fas fa-list"></i>
      Listando Administradores

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <% if policy(@admins).new? %>
          <%= link_to new_backoffice_admin_path, class: "btn btn-success me-md-2" do %>
            Novo Administrador
          <% end %>
        <% end %>
      </div>
  </div>
  <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Tipo de acesso</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Descrição</th>
                    </tr>
                </tfoot>
                <tbody>
                  <% @admins.each do |admin| %>
                    <tr>
                        <td><%= admin.id %></td>
                        <td><%= admin.full_name %></td>
                        <td><%= admin.email %></td>
                        <td><%= admin.role_i18n %></td>
                        <td style="width: 170px;">
                          <%= link_to edit_backoffice_send_email_path(admin.id), class: 'btn btn-secondary',
                          remote: true do %>
                              <i class="fa fa-envelope"></i>
                          <% end %>
                          <%= link_to edit_backoffice_admin_path(admin.id), class: "btn btn-primary" do %>
                              <i class="fa fa-edit"></i>
                          <% end %>
                          <% if current_admin.id != admin.id &&
                             policy(admin).destroy? %>
                            <%= link_to backoffice_admin_path(admin.id), method: :delete, class: 'btn btn-danger',
                            data: {confirm_swal: I18n.t('messages.confirm_with', item: admin.first_name ) } do %>
                                <i class="fa fa-trash"></i>
                            <% end %>
                          <% else %>
                             <button type="button" class="btn btn-danger" disabled="true">
                                <i class="fa fa-trash"></i>
                              </button>
                          <% end %>
                        </td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
        </div>
  </div>
</div>

<%= render partial: 'backoffice/admins/shared/send_email' %>