<h1>Editando Anúncio</h1>

  <%= form_for([:site, :profile, @ad]) do |f| %>
    <div class="row">
      <div class= "col-xs-6">
        <div class="form-group">
          <%= f.label 'Imagem' %><br>
          <%= image_tag @ad.picture.variant(resize_to_limit: [100, 100]), class: 'img-thumbnail' %>
          <%= f.file_field :picture, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class= "col-lg-6">
        <div class="form-group">
          <%= f.label 'Título' %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class= "col-lg-4">
        <div class="form-group">
          <%= f.label 'Categoria' %>
          <%= f.collection_select :category_id, Category.all, :id, :description, {}, { class: 'form-control' } %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class= "col-lg-3">
        <%= f.label 'Preço' %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><%= @ad.price.currency.symbol %></span>
          </div>
            <%= f.text_field :price, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class= "col-xs-12">
        <div class="form-group">
          <%= f.label 'Descrição' %>
          <%= f.text_area :description, class: 'form-control', rows: 5 %>
        </div>
      </div>
    </div>
    <br>
    <%= submit_tag 'Atualizar', class: 'btn btn-primary' %>
  <% end %>