<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ecommerceapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'backoffice', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'backoffice', 'data-turbolinks-track': 'reload' %>
</head>

<body id="page-top">
  <div id="wrapper">
    <%= render partial: "layouts/backoffice_shared/sidebar" %>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
          <%= render partial: "layouts/backoffice_shared/topbar" %>
          <%= yield %>
      </div>
      <%= render partial: "layouts/backoffice_shared/footer" %>
    </div>
  </div>
  <%= render partial: "layouts/backoffice_shared/scroll_top_button" %>
  <%= render partial: "layouts/backoffice_shared/logout_modal" %>
</body>

</html>