<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <title>Ecommerceapp</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag 'site', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'site', 'data-turbolinks-track': 'reload' %>


      <!-- Favicon-->
      <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    </head>
    <body>
      <%= render partial: "layouts/site_shared/navigation" %>
      <%= form_with url: site_search_path, method: :get do |f| %>
        <div class="row">
          <div class="well">
            <div class="input-group input-group-sm mb-3">
              <%= f.text_field :query, class: 'form-control' %>
              <div class="input-group-prepend">
                <span class="input-group-btn">
                  <%= f.submit 'Pesquisar', class: 'btn btn-outline-secondary' %>
                </span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= render partial: "layouts/site_shared/header" %>
      <%= yield %>
      <%= render partial: "layouts/site_shared/footer" %>
    </body>
</html>

